body {
    background-color: rgb(231, 234, 222);
    margin: 0;
}
.pageWrapper {
    margin: 80px;
}
label {
    display: flex;
   align-self: flex-start;
}
.loginSignup h3 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 100px;
}
.loginSignup button {
    background-color: rgb(231, 234, 222);
    border: 1px solid black;
    border-radius: 45px;
    font-size: 35px;
    font-weight: 400;
    margin-top: 50px;
    padding: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.loginSignup button:hover {
    background-color: #000;
    color: rgb(231, 234, 222);
}
.FormElement {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 200px;
}
.FormElement label {
    align-self: center;

    font-size: 40px;
    font-weight: 500;
}
.FormElement input {
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 300;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 15px;
    width: 500px;
}
.FormElement button {
    background-color: rgb(231, 234, 222);
    border: 1px solid black;
    border-radius: 45px;
    font-size: 35px;
    font-weight: 400;
    margin-top: 50px;
    padding: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.FormElement button:hover {
    background-color: #000;
    color: rgb(231, 234, 222);
}
h1 {
    font-family: Georgia, serif;
    font-size: 68px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h3 {
    font-family: 'Poppins', sans-serif;
}
h6 {
    font-family: system-ui, sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
button:hover {
    cursor: pointer;
}
header {
    border-bottom: 1px solid black;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}
nav h3 {
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}
.leftnav {
    display: flex;
    flex-direction: column;
}
.leftnav p {
    font-size: 15px;
    margin: 0;
    margin-top: 8px;
}
.leftnav button {
    background-color: rgb(231, 234, 222);
    border: 1px solid black;
    border-radius: 45px;
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0 0 0;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.leftnav button:hover {
    background-color: black;
    color: rgb(231, 234, 222);
}
.rightnav {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 80px;
    width: 30%;
}
.rightnav img {
    border: 1.5px solid black;
    border-radius: 100%;
    padding: 15px;
}
#dash-img:hover {
    background-color: #E8E3EB;
}
#feather-img:hover {
    background-color: #D5E8DF;
}
#smile-img:hover {
    background-color: #f6e4ef;
}
.rightnav img {
    /* border: 1px solid black;
    border-radius: 100%; */
    height: 100px;
    width: 100px;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 99%;
}
.buttonContainer-2 {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.buttonContainer-2 button {
    margin: 100px 40px auto;
}
.buttonContainer button {
    background-color: rgb(231, 234, 222);
    border: 1px solid black;
    border-radius: 45px;
    font-size: 30px;
    font-weight: 250;
    padding: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.buttonContainer button:hover {
    background-color: black;
    color: rgb(231, 234, 222);
}
/* CREATE POST */
.prompt p {
    align-items: center;
    background-color: #F6F2E4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: 500;
    padding: 20px;
    width: 100%
}
.letterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.letterForm button {
    background-color: rgb(231, 234, 222);
    border: 1px solid black;
    border-radius: 45px;
    font-size: 35px;
    font-weight: 400;
    margin-top: 10px;
    padding: 20px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.letterForm button:hover {
    background-color: black;
    color: rgb(231, 234, 222);
}
.letterForm textarea[type="text"] {
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 38px;
    font-weight: 300;
    height: 500px;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px;
    width: 800px;
}
.hero-images img {
    padding: 20px;
    opacity: 90%;
}
.hero-images {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.hero-images #img2{
    padding-top: 200px;
}
.hero-images #img3{
    padding-top: 400px;
}
/* PROFILE */
.profilePage p {
    font-size: 30px;
    font-weight: 300;
}
/* POSTS */
.createPostWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dashPageWrapper {
    align-items: space-around;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}
.dashPageWrapper .letterPost .letterText {
    height: 444px;
    margin: 10px;
    width: 310px;
}
.userLettersWrapper {
    border: 1px solid black;
    align-items: space-around;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    flex-direction: row;
    padding: 30px;
    width: 100%;
}
.userLetterText {
    background-color: #F6F2E4;
    border: 0.5px solid black;
    height: 310px;
    padding: 20px;
    width: 200px;
}
.userLetterText p {
    font-size: 14px;
}
.letterContainer {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}
.userLetterContainer {
    display: flex;
    flex-direction: row;
}
.letterPost {
    display: flex;
    flex-direction: column;
}
.letterText {
    background-color: #F6F2E4;
    border: 1px solid black;
    font-size: 14px;
    line-height: 25px;
    padding: 0 20px 0 20px;
}
#authorText {
    color: #000;
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}